{# templates/product/view_all.html.twig #}

{#gówno nie działa:#}
{% extends 'layout.html.twig' %}

{% block title %}<h2>Produkty sklepowe:</h2>{% endblock %}

{% block body %}
    <section>
        <div class="row">
            <div class="large-8 columns large-centered">
                <form id="itemsForm">
                    <div class="row">
                        <div class="large-12 columns">
                        {% for category in categories %}
                            <h3>Nazwa kategorii: {{ category.name }}</h3>
                            <ul id="sortable">
                                {% for product in products %}
                                    <li id="item_{{ product.id }}">
                                        <div class="row collapse">
                                            <div class="small-12 columns handle">
                                                <div class="row collapse">
                                                    <div class="small-3 columns handle">
                                                       <p>ID: {{product.id}}</p>
                                                    </div>
                                                    <div class="small-3 columns">
                                                        <p>Nazwa: {{product.name}}</p>
                                                    </div>
                                                    <div class="small-3 columns">
                                                        <p>Opis: {{product.description}}</p>
                                                    </div>
                                                    <div class="small-3 columns">
                                                        <p>Cena: {{product.price|number_format(2,'.',',')}} zł</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}    
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}