{% extends 'base.html.twig' %}

{% block main_title %}
    Add new product
{% endblock %}

{% block main %}
    <div class="well">
        <h3>Add new product</h3>
        <hr>
        {{ form_start(form) }}
        <div class="container body-container">
            <div class="form-group">
                <div> <strong>Name</strong>: {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}</div>
                <br>
                <div> <strong>Price</strong>: {{ form_widget(form.price,{'attr':{'class':'form-control'}}) }}</div>
                <br>
                <button class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
    {{  form_row(form._token) }}
    {{ form_end(form) }}
{% endblock %}