{# templates/product/view_all.html.twig #}

{#{% extends 'base.html.twig' %}#}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}Słowa kluczowe{% endblock %}</title>
    </head>
    <body>
    {% block body %}
        <div id="sidebar">
            {% block sidebar %}
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="../product">Lista produktów</a></li>
                    <li><a href="../product/add">Dodaj produkt</a></li>
                    <li><a href="../category">Lista kategorii</a></li>
                    <li><a href="../category/add">Dodaj kategorię</a></li>
                    <li><a href="../keyword">Lista słów kluczowych</a></li>
                    <li><a href="../keyword/add">Dodaj słowa kluczowe do bazy</a></li>
                </ul>
            {% endblock %}
        </div>
        
        <div id="content">
            <div class="large-8 columns large-centered">
                <form id="itemsForm">
                    <h3>Słowa kluczowe:</h3>
                    <ul>
                        {% for keyword in keywords %}
                            <div class="row">
                                <li id="item_{{ keyword.id }}">
                                    <div class="small-3 columns handle">
                                        <p>ID: {{keyword.id}}</p>
                                    </div>
                                    <div class="small-3 columns">
                                        <p>Słowo klucz: {{keyword.word}}</p>
                                    </div>
                                    <div class="small-3 columns">
                                        <a href="{{ path('edit_keyword_form', { 'id': keyword.id }) }}">Edytuj</a>
                                    </div>
                                    <div class="small-3 columns">
                                        <a href="{{ path('delete_keyword_process', { 'id': keyword.id }) }}">Usuń</a>
                                    </div>
                                    {% if keyword.products is not null and keyword.products is not empty %}
                                        <div class="small-3 columns handle">
                                            <strong>Pasujące produkty:</strong>
                                        </div>
                                        {% for product in keyword.products %}
                                            <div class="small-3 columns handle">
                                                <p>ID: {{product.id}} || Nazwa: {{product.name}}</p>
                                            </div>
                                        {% endfor %} 
                                    {% endif %}
                                </li>
                            </div>
                        {% endfor %}  
                    </ul>
                </form>
            </div>
        </div>
    {% endblock %}
    </body>
</html>



